.bicicleta-lista ul{
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  text-decoration: none;
  list-style: none;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.bicicleta-lista li{
  min-width: 230px;
  flex: 1;
}

.bicicleta-lista a{
  color: black;
}

.bicicleta-lista h2 span{
  color: #FFBB00;
  font-family: 'roboto';
  font-weight: 600;
}

.bicicleta-lista h2{
  margin: 40px 50px;

}

.bicicleta-lista h3{
  padding: 10px 0;
}

.bicicleta-lista h3::before{
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FFBB00;
  left: -15px;
  top: 17px;
  position: relative;
}

.bicicleta-lista span{
  color: #3a2605c0;
  font-weight: bold;
}



