.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.76);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  width: max-content;
  cursor: pointer;
  border: none;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario {
  background: rgb(187, 186, 186);
  color: black;
}

.botao.secundario:hover {
  background: linear-gradient(rgba(224, 222, 222, 1) 26%, rgba(196, 190, 192, 1) 57%);
}
