/*====== C O N F I G U R A Ç Õ E S    G L O B A I S ======*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

