.tecnologia-bg {
  background-color: #000;
  box-shadow: inset 0 80px #fff, inset 0 -80px #fff;
}

.tecnologia-conteudo {
  padding: 160px 0;
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 32px;
  color: #fff;
}

.tecnologia-conteudo > p,
.tecnologia-conteudo p {
  color: #b2b2b2;
  margin-bottom: 20px;
}

.link {
  color: #e99915;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.link:hover {
  color: #fff;
}

.tecnologia-vantagens {
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3 {
  margin-bottom: 8px;
  width: max-content;
  color: #fff;
}

.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 800px) {
  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-conteudo {
    padding: 60px 0;
  }

  .tecnologia-bg {
    box-shadow: none;
  }

  .tecnologia-imagem {
    display: none;
  }

  .tecnologia a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}
